{% extends 'base.html' %}
{% block content %}
    <div class="container center">
        
            
        <input type="text" name="filter_communities" id="filter_communities"> <button type="submit">Search</button>
        <div class="container" id="genres">

        </div>
         
        {% for community in communities %}
        <div class="row">
            <div class="col">
                <a href="{% url 'community' community.pk %}" class="coms">{{community.name}}</a>  
            </div>
            <div class="col">
                <form action="{% url 'subscribe' community.pk %}" method="post">
                    {% csrf_token %}
                    {% if request.user in community.subscribers.all  %}
                    <button type="submit" class="subscribe-button">Subscribe</button>
                    {% else %}
                    <button type="submit" class="subscribe-button">You subscribed</button>
                    {%endif%}
                </form>
            </div>
            
        </div>
            
        {% endfor %}
    </div>
    
    
    
{% endblock %}