{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1 style="text-align: center;">{{community.name}}</h1>
        <div class="row d-flex " style="text-align: center;">
            <div class="col">
                <h3>Post</h3> <br>
                {% for post in posts %}
                    <a href="{% url 'post_detail' post.pk %}" class="post_link">{{post.name}}</a> <br>
                    {% if community.author == request.user %}
                        <div class="col">
                            <a href="{% url 'post_update' community.pk post.pk %}"><button type="submit" class="btn btn-warning">Update</button></a>
                        <a href="{% url 'post_delete' community.pk post.pk %}"><button type="submit" class="btn btn-danger">Delete</button></a>
                        </div>
                        
                    {% endif %}
                {%endfor%}

                {% if is_subscriber %}
                    <a href="{% url 'post_create' community.pk %}"><button type="submit">Create post</button></a>
                {% else %}{%endif%}
            </div>
            <div class="col">
                <h3>Discusion </h3> <br>
                {% for discusion in discusions %}
                    
                    <a href="{% url 'discusion' discusion.pk %}" class="post_link">{{discusion.topic}}</a> <br>
                    {% if discusion.author == request.user %}
                        <div class="col">
                            <a href="{% url 'discusion_delete' community.pk discusion.pk %}"><button type="submit" class="btn btn-danger">Delete</button></a>
                        </div>
                            
                        
                        
                    {% endif %}
                {%endfor%}
                {% if is_subscriber %}
                <a href="{% url 'discusion_create' community.pk %}"><button type="submit">Create discusion</button></a>
                {% else %}{%endif%}
            </div>
        </div>
        
    </div>
{%endblock%}