{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>{{discusion.topic}}</h1>
        
        <div class="row">
            <h3>{{author}}</h3>
            <p>{{discusion.text}}</p>
        </div>
       <div class="row">
        {% for comment in comments %}
            <h4>{{comment.author}}</h4> <br>
            <p>{{comment.text}}</p>
            <form action="{% url 'like_comment' comment.pk %}" method="post">
                {% csrf_token %}
                <button type="submit">Like</button> 
                {{comment.likes.count}}
            </form>
        {%endfor%}
       </div>
       <div class="row">
            <form method="post">
                {% csrf_token %}
                {{comment_form.as_p}}
                <button type="submit">Add comment</button>
            </form>
       </div>
    </div>

{% endblock %}