.side-navbar {

    list-style-type: none;
    
    
    width: 25%;
    background-color: #007FFF;
    color: white;
    height: 100%; 
    position: fixed; 
    overflow: auto;
}
li{
        padding: 10px;
}

.coms{
        font-size: 40px;
        margin-bottom: 10px;
        text-decoration: none;
}
.coms:hover{
        text-decoration: underline;
}
.post_link{
        font-size: 20px;
        text-decoration: none;
}
.post_link:hover{
        text-decoration: underline;
}
.center{
        align-self: center;
}


.profile_photo img{
        width: 400px !important;
        border-radius: 50%;
}

.subscribe-button{
        margin-bottom: 10px;
}

/* .subscribs-button{
        position: absolute;
        right: 50px;
} */